<!DOCTYPE html>
<html lang="en">
<head>
    <title>Helping-Verb</title>
    <!-- External CSS and Scripts -->
    <link href="/img/hv.png" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Metal+Mania&family=Strait&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">
    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
	<!-- local css file -->
	<link rel="stylesheet" href="/css/signup.css">
</head>
<body> 
  <nav class="navbar navbar-expand-lg  navbar-custom">
    <span id="navspan"><a href="./home"><img src="/img/hv.png"></a></span>
    <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon my-toggler"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" >
        <li class="nav-item" >
          <a class="nav-link" href="./home">Home</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./geeks">Geeks</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="./signup" id="navbuttons" >Signup</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="./login" id="navbuttons">Login</a>
          </li>
    </ul>
    </div>
  </nav>
	<!-- Header End-->
    <div class="formbox">
      <form>
        <h2>Sign in</h2>
        <div class="email error"></div>
        <label for="username">Username</label>
        <input type="text" name="username" required />
        <div class="username error"></div>
        <label for="password">Password</label>
        <input type="password" name="password" required />
        <div class="password error"></div>
        <button>Sign in</button>
        <div style="text-align: right;">
          <a href="./recover" style="text-decoration: none;color: #b117a4;">Forgot password</a>
        </div>
      </form>
	</div>
<!-- main content ends here -->
<a id="back2Top" title="Back to top" href="#">&#10148;</a>
<!-- Footer -->
<footer> 
  <div> 
    <ul>
      <li class="fid">
        Crafted with <i class="fa fa-code" style="font-size:14px;color:yellow;"></i> + </span> <i class="fa fa-coffee" style="font-size:14px;color:yellow;"></i> and <i class="fa fa-heart" style="font-size:14px;color:yellow;"></i> <span> At <span><a style="text-decoration: none; color:#c3073f;" href="https://github.com/luciferlabs">luciferlabs</a></span>
      </li>
      <li class="fid">
          <span id="copy">&copy;</span><span> Copyright <span style="color:yellow;">2020 </span>Helping-Verb</span>
      </li>
    </ul>
  </div>
</footer>
<!-- Footer Ends-->
<script src="/js/main.js"></script>
</body>
</html>
<script>
  const form = document.querySelector('form');
  const usernameError = document.querySelector('.username.error');
  const passwordError = document.querySelector('.password.error');
  const emailError = document.querySelector('.email.error');
  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    // reset errors
    usernameError.textContent = '';
    passwordError.textContent = '';
    emailError.textContent='';
    // get values
    const username = form.username.value;
    const password = form.password.value;
    try {
      const res = await fetch('/login', { 
        method: 'POST', 
        body: JSON.stringify({ username, password}),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        console.log(data.errors.email);
        usernameError.textContent = data.errors.username;
        passwordError.textContent = data.errors.password;
        emailError.textContent=data.errors.email;
      }
      if (data.user) {
        location.assign('/');
      }
    }
    catch (err) {
      console.log(err);
    }
  });
</script>